/* Global styles */
body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2, h3, h4, h5, h6, p {
  font-family: 'Antonio', sans-serif;
}
.subtitulo {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  justify-content: center;
  font-family: 'Antonio', sans-serif;
}
/* Header styles */
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c79457da;
  padding: 10px 20px;
}

.encabezado h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
}

.titulo {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  font-family: 'Newsreader', serif;
}
nav a {
  margin-right: 20px;
  color: #333;
  text-decoration: none;
}

.datos-personales button {
  padding: 15px 15px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 100%;

}
.fondo-principal {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.fondo-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Combos-Especiales-Imgs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Antonio', sans-serif;
  background-color: gainsboro;
  padding: 20px;
}

.Combos-Especiales-Imgs div {
  height: 100%;
}

.Combos-Especiales-Imgs div img {
  height: 70%;
}

.Combos-Especiales {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  /* margin-top: 20px; */
  justify-content: center;
  font-family: 'Antonio', sans-serif;
}

.Titulo-Capsulas {
  display: flex;
  font-size: 35px;
  font-weight: bold;
  justify-content: center;
  font-family: 'Antonio', sans-serif;
  background-color: #c79457da;
}

.Contenedor-Capsulas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.Contenedor-Capsulas div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borde-abajo {
  border-bottom: 2px solid black;
}

.borde-arriba {
  border-top: 2px solid black;
}
/* Footer styles */
footer {
  background-color: #c79457da;;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  color: #555;
}

footer input[type="text"] {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
}

footer button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

@media (max-width: 480px) {
  .encabezado {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .encabezado h1 {
    font-size: 24px;
    margin-top: 10px;
  }

  .titulo {
    justify-content: flex-start;
  }

  .nav {
    display: none;
  }

  .datos-personales button {
    padding: 10px;
    font-size: 14px;
  }

  .fondo-principal {
    height: 50vh;
  }

  .Combos-Especiales-Imgs {
    height: 300px;
    font-size: 18px;
  }

  .Combos-Especiales-Imgs div img {
    height: 60%;
  }

  .Combos-Especiales {
    font-size: 18px;
  }

  .Titulo-Capsulas {
    font-size: 30px;
  }

  .Contenedor-Capsulas div {
    width: 50%;
  }
}
