/* Global styles Index*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  .encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c79457da;
    padding: 10px 20px;

  }
 
  .encabezado h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .titulo {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    font-family: 'Newsreader', serif;
  }
  nav a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
    
  }
  
  .datos-personales button {
    padding: 15px 15px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 100%;
  
  }
  .fondo-principal-index {
    background-image: url(./Imagenes/coffe\ and\ futbol\ \(1\).png);
    background-size: cover;
    height: 70vh;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    
  /* Main content styles */
  .contenido {
    max-width: 960px;
    margin: 20px auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.51);
  }
  
  .contenido h2 {
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
    color: #ccc;
    font-family: 'Antonio', sans-serif;
   }
  
  .contenido p {
    color: #a1a1a1;
    line-height: 1.5;
  }
  
  .contenido button {
    padding: 10px 20px;
    background-color:green;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    opacity: 1;
  }
  
  .fondo-principal {
    max-width: 200%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nuevos-sabores {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    justify-content: center;
    font-family: 'Antonio', sans-serif;
  }
  
  .imagenes-secundarias {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .imagenes-secundarias img {
    max-width: 200px;
    margin: 10px;
  }
  
  .redes-ayuda-envios {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .redes-ayuda-envios div {
    text-align: center;
  }
  
  .redes-ayuda-envios h5 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Antonio', sans-serif;
  }
  
  .redes-ayuda-envios img {
    max-width: 80px;
    margin-bottom: 10px;
  }
  
  .redes-ayuda-envios p {
    color: #555;
    margin: 0;
  }
  
  .cuerpo-medio, .sale {
    display: flex;
    width: fit-content;
    margin-right: 70px;
  
  } 
  .texto-giftcards, .texto-promociones {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
  }
  
  .orden, .orden2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    margin-top: 80px;
    font-family: 'Antonio', sans-serif;
  }
  /* Footer styles para todas las paginas*/
  footer {
    background-color: #c79457da;;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    color: #555;
  }
  
  footer input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
  }
  footer button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  @media only screen and (max-width: 950px) {
    .encabezado {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      }
  
    nav a {
      font-size: 15px;
    }  
    .encabezado h1 {
      font-size: 24px;
      margin-top: 10px;
    }
    .titulo {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    .datos-personales button {
      margin-top: 10px;
     }
    .contenido {
      padding: 20px;
    }
    .contenido h2 {
      font-size: 24px;
    }
    .contenido p {
      font-size: 14px;
    }
    .contenido button {
      font-size: 14px;
      padding: 8px 16px;
    }
    .fondo-principal-index {
      justify-content: center;
    }
    .nuevos-sabores {
      font-size: 20px;
      margin-top: 10px;
    }
    .imagenes-secundarias img {
      max-width: 150px;
      margin: 5px;
      flex-wrap: wrap;
    }
    .redes-ayuda-envios {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    .redes-ayuda-envios div {
      margin-bottom: 10px;
    }
    .redes-ayuda-envios h5 {
      font-size: 16px;
    }
    .redes-ayuda-envios img {
      max-width: 60px;
      margin-bottom: 5px;
    }
    .cuerpo-medio,
    .sale,
    .texto-giftcards,
    .texto-promociones,
    .orden,
    .orden2 {
      margin: 10px 0;
    }
  }
/* Global styles Capsulas */

  h2, h3, h4, h5, h6, p {
    font-family: 'Antonio', sans-serif;
  }

  .fondo-principal-capsulas {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fondo-principal-capsulas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .Combos-Especiales-Imgs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Antonio', sans-serif;
    background-color: gainsboro;
    padding: 20px;
  }
  .Combos-Especiales-Imgs div {
    height: 100%;
  }
  .Combos-Especiales-Imgs div img {
    height: 70%;
  }
  .Combos-Especiales {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    /* margin-top: 20px; */
    justify-content: center;
    font-family: 'Antonio', sans-serif;
  }
  .Titulo-Capsulas {
    display: flex;
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
    font-family: 'Antonio', sans-serif;
    background-color: #c79457da;
  }
  .Contenedor-Capsulas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  .Contenedor-Capsulas div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .borde-abajo {
    border-bottom: 2px solid black;
  }
  .borde-arriba {
    border-top: 2px solid black;
  }

  @media (max-width: 480px) {
    .encabezado {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
    .encabezado h1 {
      font-size: 24px;
      margin-top: 10px;
    }
    .titulo {
      justify-content: flex-start;
    }
    .nav {
      display: none;
    }
    .datos-personales button {
      padding: 10px;
      font-size: 14px;
    }
    .fondo-principal {
      height: 50vh;
    }
    .Combos-Especiales-Imgs {
      height: 300px;
      font-size: 18px;
    }
    .Combos-Especiales-Imgs div img {
      height: 60%;
    }
    .Combos-Especiales {
      font-size: 18px;
    }
    .Titulo-Capsulas {
      font-size: 30px;
    }
    .Contenedor-Capsulas div {
      width: 50%;
    }
  }
    
  /* Global styles Productos */

  .contenedor-imagen {
    display: flex;
    width: 25%;
    height: 200px;
    margin-right: 70px;
    border: 5px solid black;
  }
  
  .contenedor-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .texto-cafe-1, .texto-maquina-2, .texto-espumador-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
  }
  
  .orden-productos {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    margin-top: 80px;
    font-family: 'Antonio', sans-serif;
  }

  .last-producto {
    margin-bottom: 80px;
  }

  .Productos-Especiales {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    /* margin-top: 20px; */
    justify-content: center;
    font-family: 'Antonio', sans-serif;
  }
  .Titulo-Productos {
    display: flex;
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
    font-family: 'Antonio', sans-serif;
    background-color: #c79457da;
  }

  .fondo-principal-productos {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fondo-principal-productos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  /* Global Styles Cafeteras */
  
  .fondo-principal-cafeteras {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fondo-principal-cafeteras img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Titulo-Cafeteras {
    display: flex;
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
    font-family: 'Antonio', sans-serif;
    background-color: #c79457da;
  }
  .Remasterizado {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    /* margin-top: 20px; */
    justify-content: center;
    font-family: 'Antonio', sans-serif;
  }

  .cafeteras {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    padding: 50px 0px;
  }
  
  .cafeteras div {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
  }
  
  .cafeteras h5 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Antonio', sans-serif;
  }
  
  .cafeteras div img {
    height: 100px;
    margin-bottom: 10px;
  }
  
  .contenido-cafeteras {
    color: #555;
    margin: 0;
    padding: 10px 100px;
    
  }

  .cuadro-texto-1 {
    height: 250px;
    width: 250px;
    background-color:#c79457da; 
    border: 2px solid black
  }


  /* Global Styles Sobre Nosotros */

  .mision-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 80px;
    background-color: #c79457da;
    border: solid black 3px
  }

  .texto-mision-vision {
    margin-bottom: 100px;
   
  }

  .imagen-cafe-sobre {
    background-image: url(./Imagenes/about-us-foto.jpeg);
    background-size: cover;
    height: 70vh;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }